.case-list {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .case-list h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
  }

  .case-list ul {
    list-style: none;
    padding: 0;
  }

  .case-list li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .case-list li strong {
    font-weight: bold;
    color: #020a13; /* Change color as needed */
  }